// Navigation Styles here
header {
    width: 100%;
    .flex(space-between, center);
    margin-top: 1.5rem;
    padding-bottom: 1rem;
    .bordered();

    .company-logo {
        margin: 0;
    }
    
    nav {
        width: 50%;
        .flex(space-around, center);
        a {
            font-size: 1.5rem;
            text-decoration: none;
            color: @shark;
        }  
    }
}
